li {
    list-style: none;
}

.inner {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 40px;
}

a {
    transition: opacity .3s;
    text-decoration: none;
    color: #1ca9e3;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    border-style: none;
}

/* タイトル */

.main {
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 85vh;
    text-align: center;
    position: relative;
}
.main-inner {
    /* padding: 0 40px; */
    position: absolute;
    width: 100%;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}
.title {
    font-size: 80px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 5px;
    letter-spacing: .1em;
}
/* サブタイトル */
.subtitle {
    font-size: 34px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: .05em;
    color: #333;
}
/* ヘッダー */
.header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, .1);
}

.header .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}
.header-nav-list {
    display: flex;
    justify-content: space-between;
}
.header-nav-item:not(:last-child) {
    margin-right: 20px;
}

.header-nav-item a {
    position: relative;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 0;
    transition: .3s;
    letter-spacing: .05em;
    color: #333;
}

.header-nav-item a:hover:after {
    width: 100%;
}

/* work */
.Work {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 40px;
    margin-bottom: 15%;
}
.deliverableslist {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -40px;
    justify-content: space-between;
}
.deliverables {
    width: 31.74603%;
    margin-right: 1.58730%;
    margin-bottom: 40px;
    color: #333;
}
.deliverables:hover {
    opacity: .9;
}

.deliverables:nth-of-type(3n) {
    margin-right: 0;
}
.deliverables_img img {
    border: 1px solid #e6e6e6;
    box-shadow: 12px 12px 2px 1px rgba(172, 172, 247, 0.2);
}
.deliverables_name {
    font-size: 12px;
    font-weight: bold;
    margin-top: 8px;
}

/* skill */
.skill {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 40px;
    margin-bottom: 15%;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5%;
    text-align: center;
    width: 100%;
}

.skill-item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.skill-body-1 {
    flex: 1;
    text-align: right;
    width: 50%;
    min-width: 400px;
}

.skill-body-2 {
    flex: 1;
    text-align: left;
    width: 50%;
    min-width: 400px;
}

.skill-body {
    flex: 1;
    text-align: center;
}

.skill-text {
    display: inline-block;
    text-align: left;
    width: 50%;
    margin-bottom: 30px;
}

.star-1 {
    text-align: center;
}

.star-2 {
    text-align: center;
}

.skill-star-text1{
    display: inline-block;
    text-align: right;
    width: 50%;
}

.skill-star-text2{
    display: inline-block;
    text-align: left;
    width: 50%;
    margin-bottom: 30px;
}

.skill-star-1 p{
    flex: 1;
    text-align: center;
    
}

.add-info {
    text-align: center;
}

/* about */

.About-text {
    display: flex;
    flex-wrap: wrap;
    max-width: 480px;
    margin: 0 auto;
}
.About-text {
    flex: 1;
}
.About-text p:not(:last-child) {
    margin-bottom: 30px;
}

    /*  メインビジュアル */
    .main {
        height: 75vh;
    }

    .main-inner {
        padding: 0 20px;
    }



    .article {
        padding: 80px 0;
    }
    
    .article-inner {
        max-width: 1040px;
        margin: 0 auto;
        padding: 0 20px;
    }
    
    .article-title {
        margin-bottom: 30px;
        text-align: center;
    }
    
    .article-img {
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        text-align: center;
        border: 1.5px solid #e6e6e6;
    }
    
    .article-body {
        max-width: 720px;
        margin: 0 auto;
        margin-bottom: 80px;
    }

