body {
    font-family: "Montserrat", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: .8px;
    color: rgb(0, 0, 0);
}

li {
    list-style: none;
}


a {
    transition: opacity .3s;
    text-decoration: none;
    color: #0b1012;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    border-style: none;
}

/* レイアウト */
.wrapper {
    padding-top: 73px;
}

.section {
    padding: 90px 0;
}

.inner {
    max-width: 1340px;
    margin: 0 auto;
    margin-top: 50;
}

/* ヘッダー */

.header {
    margin-left: auto;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, .1);
}

.header .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}
.header-logo {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    margin-right: 20px;
    letter-spacing: .05em;
}
.header-nav-list {
    display: flex;
    justify-content: space-between;
}
.header-nav-item:not(:last-child) {
    margin-right: 20px;
}

.header-nav-item a {
    position: relative;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 0;
    transition: .3s;
    letter-spacing: .05em;
    color: #333;
}

.header-nav-item a:hover:after {
    width: 100%;
}


/* タイトル */

.main {
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 85vh;
    text-align: center;
    position: relative;
}
.main-inner {
    /* padding: 0 40px; */
    position: absolute;
    width: 100%;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}
.title {
    font-size: 80px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 5px;
    letter-spacing: .1em;
}
/* サブタイトル */
.subtitle {
    font-size: 34px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: .05em;
    color: #333;
}


/* work */
.Work {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 40px;
    margin-bottom: 15%;
}
.deliverableslist {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -40px;
    justify-content: space-between;
}
.deliverables {
    width: 31.74603%;
    margin-right: 1.58730%;
    margin-bottom: 40px;
    color: #333;
}
.deliverables:hover {
    opacity: .9;
}

.deliverables:nth-of-type(3n) {
    margin-right: 0;
}
.deliverables_img img {
    border: 1px solid #e6e6e6;
    box-shadow: 12px 12px 2px 1px rgba(172, 172, 247, 0.2);
}
.deliverables_name {
    font-size: 12px;
    font-weight: bold;
    margin-top: 8px;
}

/* skill */

.skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5%;
    text-align: center;
}

.skill-item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.skill-body {
    flex: 1;
    text-align: center;
    width: 50%;
    min-width: 400px;
}

.star {
    margin-bottom: 3px;
}

.skill-text-1 {
    display: inline-block;
    text-align: right;
    width: 50%;
    margin-bottom: 30px;
}

.skill-text-2 {
    display: inline-block;
    text-align: left;
    width: 50%;
    margin-bottom: 30px;
}


.skill-star-text{
    display: inline-block;
    width: 50%;
}

.add-info {
    text-align: center;
}

/* about */
.About-text {
    display: flex;
    flex-wrap: wrap;
    max-width: 480px;
    margin: 0 auto;
}

.About-text {
    flex: 1;
}

.About-text p:not(:last-child) {
    margin-bottom: 30px;
}

.profile-body {
    flex: 1;
}

.profile-body p:not(:last-child) {
    margin-bottom: 30px;
}


.profile-img {
    width: 20%;
    margin-right: 30px;
    border-radius: 50%;
}

.profile-img img {
    border-radius: 50%;
}

    
.main {
    height: 75vh;
}

.main-inner {
    padding: 0 20px;
}

.mail {
    font-size:15px;
}






.article {
    padding: 80px 0;
}

.article-inner {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px;
}

.article-title {
    margin-bottom: 30px;
    text-align: center;
}

.article-img {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1.5px solid #e6e6e6;
}
.article ul {
    margin: auto;
}

.article-body {
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.article-info-title {
    font-size: 15px;
}

.url a {
    color: rgb(21, 140, 0);
}

/* test */
.sub-img li.current img {
border: 2px solid rgb(21, 140, 0);
transition: border .5s;
}
.article-container {
margin: 50px auto 0;
max-width: 500px;
}
.js-main-img {
height: 334px;
width: 100%;
}
.js-main-img-rhythm {
    width: 100%;
    }
.js-main-img img {
height: auto;
width: 100%;
}
.sub-img {
display: flex;
align-items: center;
padding-left: 0%;
}
.sub-img li {
width: calc(96% / 3);
}
.sub-img li:nth-child(3n) {
margin-right: 0;
}
.sub-img li img {
border: 2px solid transparent;
transition: border .5s;
border: 1.5px solid #e6e6e6;
}
.sub-img img {
cursor: pointer;
width: 90%;
}
.home-img-1 {
    height: 83px;
}
.home-img-2 {
    height: 81px;
}
.home-img-3 {
    height: 63px;
}

@media screen and (max-width: 767px) {
.header .inner {
    padding: 15px;
}
}  